@tailwind base;
@tailwind components;
@tailwind utilities;

/* INPUT */

.ant-input,
.ant-select-selector,
.ant-modal-content {
  border-radius: 0 !important;
}

.ant-input-outlined:focus {
  border: black !important;
}

/* HIDE SCROLLBAR */

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
